
type batteryproperties, domain;

binder_use(batteryproperties)
binder_service(batteryproperties_service)
binder_call(batteryproperties, system_server)

allow batteryproperties batteryproperties_service:service_manager { find } ;