type bootloader_block_device, dev_type;
type efs_block_device, dev_type;
type param_block_device, dev_type;
type secmem_device, dev_type;
type rfkill_device, dev_type;
type power_control_device, dev_type;
type loop-control_device, dev_type;
type psaux_device, dev_type;
type tracebuf_device, dev_type;
