type mobicore, domain;
type mobicore_exec, exec_type, file_type;
init_daemon_domain(mobicore);

allow mobicore tee_device:chr_file { read write open ioctl };
allow mobicore self:netlink_socket create_socket_perms;
