import init.smdk5250.usb.rc

on init
    mkdir /mnt/shell/sdcard0 0700 shell shell

    # External storage path for apps
    export EXTERNAL_STORAGE /storage/sdcard0
    # External storage path for adb
    export ADB_EXTERNAL_STORAGE /mnt/shell/sdcard0/0

    mkdir /storage 0711 root root
    mkdir /storage/sdcard0 0000 root root
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

    # Save bugreports as owner
    export BUGREPORT_WRITE_PATH /mnt/shell/sdcard0/0
    export BUGREPORT_READ_PATH /storage/sdcard0

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw

    setprop vold.post_fs_data_done 1

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    setprop ro.radio.noril yes

    # HACK, suspend is broken. remove me when it's fixed
    write /sys/power/wake_lock taken_from_init_smdk5250_rc

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0


on fs
    mount_all /fstab.smdk5250
    setprop ro.crypto.fuse_sdcard true

# Permissions for backlight
    chmod 0666 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness

# Permissions for Gscaler log level
    chmod 0666 /sys/module/gsc/parameters/gsc_dbg

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
            /dev/block/mmcblk0p3 \
            /dev/block/mmcblk0p4
    class core
    user root
    group root
    oneshot

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/sdcard0 1023 1023
    class late_start
