[project]
	state = active
[access "refs/*"]
	create = group Manta Maintainers
	forgeAuthor = group Manta Maintainers
	forgeCommitter = group Manta Maintainers
	push = +force group Manta Maintainers
	pushMerge = group Manta Maintainers
	pushTag = group Manta Maintainers
	label-Code-Review = -2..+2 group Manta Maintainers
	label-Verified = -1..+1 group Manta Maintainers
	submit = group Manta Maintainers
