/dev/mali0                0666   system     system
/dev/ump                  0666   system     system
/dev/ion                  0666   system     system
/dev/video6               0660   media      media

# iio devices
/dev/iio:device*          0660   system     system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0077/iio:device*    events/in_pressure0_thresh_either_en      0660    system   system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0077/iio:device*    sampling_frequency        0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0077/iio:device*    in_pressure0_input        0660    system    system
/sys/devices/platform/s3c2440-i2c.2/i2c-2/2-0023/iio:device*    events/in_illuminance0_thresh_either_en   0660    system   system
/sys/devices/platform/s3c2440-i2c.2/i2c-2/2-0023/iio:device*    sampling_frequency        0660    system    system
/sys/devices/platform/s3c2440-i2c.2/i2c-2/2-0023/iio:device*    in_illuminance0_input     0660    system    system

/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    compass_enable         0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    compass_enable         0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    accl_enable            0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    gyro_enable            0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    gyro_enable            0660    system    system

/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    trigger/current_trigger          0660    system    system

/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    power_state                      0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    buffer/enable                    0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    buffer/length                    0660    system    system

/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_accel_x_en      0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_accel_y_en      0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_accel_z_en      0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_anglvel_x_en    0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_anglvel_y_en    0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_anglvel_z_en    0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_magn_x_en       0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_magn_y_en       0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_magn_z_en       0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_quaternion_r_en 0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_quaternion_x_en 0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_quaternion_y_en 0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_quaternion_z_en 0660    system    system
/sys/devices/platform/s3c2440-i2c.1/i2c-1/1-0068/iio:device*    scan_elements/in_timestamp_en    0660    system    system

# gscalers
/dev/video23              0660   media      media
/dev/video26              0660   media      media
/dev/video29              0660   media      media
/dev/video32              0660   media      media

/dev/video33              0660   system     system
/dev/video34              0660   system     system
/dev/v4l-subdev*          0660   system     system
/dev/media0               0660   system     system
/dev/media1               0660   system     system

# camera
/dev/video41              0660   media      media
/dev/video42              0660   media      media
/dev/video43              0660   media      media
/dev/media2               0660   media      media

# mixer
/dev/video16              0660   system     system
/dev/video17              0660   system     system
/dev/video18              0660   system     system
/dev/video19              0660   system     system
